.form-body { background: url(/imagenes/Ardor.jpg);
-webkit-background-size:cover ; 
background-size: cover;
background-attachment: fixed; 
}

.contenedor .form {font-weight: normal;
font-family: sans-serif; color: aqua;
span {color: aquamarine;}}