

* {margin: 0; padding: 0;}
header { background-color : rgb(0, 0, 0); color: $Colorp ;}

.color { justify-content: center;
    background-color: rgb(0, 0, 0);

     color: $Colorp ;}



#paddingfooter {padding: 100px;}

.colorfondo {background-color: rgb(255, 255, 255);}

.marginheader {margin: -10px; 
    padding: 3px;}

    .colortexto {color: rgb(255, 255, 255);}

   .fotito {background-image: url(/imagenes/fondos-inmobiliarios-que-como-funcionan.png) ; height: 100vh; background-size: cover; background-position: center;}
   
   .tamaño {width: 100px; height: 200px;}


   .tamaño2 {width: 600px; height: 600px; float: left;}

