* {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}

.contenedor-serv {width: 100%; max-width: 1000px; margin: auto; padding: 60px;}
 .img-serv {width: 300px; float: left; margin-right: 20px; margin-bottom: 20px;}
.titulo-serv {font-size: 40px; margin-bottom: 30px;}

.contenedor-dos-serv {background-color: rgb(255, 255, 255); border: 05px solid
     $Colorp; p {font-size: 18px; font-weight: 300;} 
.img-serv {width: 300px; float: left; margin-right: 20px; margin-bottom: 20px;} }
.contenedor-dos-serv {background-color: rgb(255, 255, 255); border: 05px solid $Colorp; p {font-size: 18px; font-weight: 300;}} 